In [ ]:
print("Hello, world!")

# number: int, long, float, complex

In [ ]:
type(10)

In [ ]:
type(1+1)

In [ ]:
type(0.1)

In [ ]:
type(1+0.1)

In [ ]:
type(2*2.2)

In [ ]:
type(2/1)

In [ ]:
type(3//2)

In [ ]:
type(2//0.5)

In [ ]:
type(10+1j)

# string: '', "", \', \t, \n, \r

In [ ]:
type("10")

In [ ]:
type("let's go")

In [ ]:
type('let\'s go')

In [ ]:
"Hello" + ", " + "world!"

In [ ]:
"123" * 3

# boolean: True, False, 
# operator: and, or, !

In [ ]:
1 == 2

In [ ]:
1 != 2

In [ ]:
price = 15
print(price > 10 and price < 20)

# variable

In [ ]:
name = input("Enter your name: ")
print("Hello, %s!" % name)

# type converson: int(), float(), bool()

In [ ]:
birth_year = input("Enter your birth year: ")
age = 2021 - int(birth_year)  
print("Your age: " + str(age))

In [ ]:
first = float(input("First: ")) 
second = float(input("Second: "))
total = first + second
print ("Sum: " + str(total))

In [ ]:
course = "MTH251 data structure and algorithm I"
print(course.replace('MTH251', 'Python'))
print("MTH251 in course: " + str(course.find('MTH251')))
print(course)

In [ ]:
x, y, z = 1, 2, "123"
print(x, y, z)
x, y = y, x
print(x, y, z)
a = b = c = "sg"
print(a, b, c)

In [ ]:
x = "1"
y = "2"
print(id("1"))
print(id("2"))
print(id(x))
print(id(y))
x = "2"
y = "1"
print(id(x))
print(id(y))
x = y
print(id(x))
print(id(y))

# list, tuple, set, dictionary

In [ ]:
letters1 = ['a', 'b', 'c']
letters2 = list(('1', 2, '3'))
print(letters1)
print(letters2)
print(len(letters1))

In [ ]:
nums = [0, 1, 2, 3, 4, 5, 6]
print(nums)
print(nums[0])
print(nums[1:2])
print(nums[:2])
print(nums[-1])
print(nums[-3:-1])
print(nums[-3:])
# start:stop:step
print(nums[::2])
print(nums[::-1])
print(nums[4:6:])
print(nums[-2:-4:-1])
nums[0] = -1
print(nums)
print(nums.index(-1))
# print(nums.index(0))
n = 0
if (n in nums): 
    print(nums.index(n))
else: 
    print("%d not in %s" % (n, nums))

In [ ]:
fruits1 = ['apple', 'banana']
fruits1.insert(0, 'orange')
fruits1.remove('apple')
fruits2 = fruits1.copy()
del fruits2[1]
print(fruits1)
print(fruits2)

In [ ]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
print(nums1 * 3)
print(nums1 + nums2)
nums1.reverse()
print(nums1)
nums1.sort()
print(nums1)

In [ ]:
tup = (1,2,3)
print(tup)
print(min(tup))
print(max(tup))

In [ ]:
list1 = ['a', 'a', 'b', 'b', 'c']
# set1 = {'a', 'a', 'b', 'b', 'c'}
set1 = set('123')
set2 = set('3456')
print(set1 - set2)
print(set1 | set2)
print(set1 & set2)
print(set1 ^ set2)

In [ ]:
student1 = {'name': 'Alex', 'gender': 'M', 'age': 20, 'grade': 'A'}
student2 = {'name': 'Bob', 'gender': 'M', 'age': 21, 'grade': 'B'}
student3 = {'name': 'Jade', 'gender': 'F', 'age': 20, 'grade': 'A+', 'partime': True}
class251 = [student1, student2, student3]
print(class251)

# if/else

In [ ]:
temperature = float(input("temperature of today: "))

if (temperature > 32): 
    print("it is a hot day")
    print("pls drink watr")
elif (temperature > 22): 
    print("it is a nice day")
else: 
    print("it is a cold day")

# while, for loop

In [ ]:
i = 100 
while (i < 200): 
    print(i)
    i += 10
nums = [0, 1, 2, 3, 4, 5, 6]
for i in nums:
    print(i)

# function

In [ ]:
def sum1(a, b): 
    return a + b

print(sum1(1, 2))


def sum2(*nums):
    total = 0
    for i in nums: 
        total += i
    return total 

print(sum2(1, 2, 3, 4))


def add_student(fullname, gender='M', age=20):
    return {'name': fullname, 'gender': gender, 'age': age}

print(add_student(fullname='Alex'))
print(add_student(fullname='Jade', age=20, gender='F'))

full_name = lambda student: student['first_name'] + ' ' + student['second_name']
student1 = {'first_name': 'Alan', 'second_name': 'Zhong', 'gender': 'M', 'age': 20, 'grade': 'A'}
print(full_name(student1))

# variable scope

In [1]:
x = 10000 

def fun1():
    print("func1: ", x)
    
def fun2():
    x = 1
    print("func2: ", x)

def fun3():
    global x
    print(x)
    x = 1
    print("func3: ", x)
    
fun1()
print("after fun1: ", x)
fun2()
print("after fun2: ", x)
fun3()
print("after fun2: ", 3)

func1:  10000
after fun1:  10000
func2:  1
after fun2:  10000
10000
func3:  1
after fun2:  3

# class

In [ ]:
# define the class
class Person: 
    # attributes 
    name = ''
    gender = ''
    age = 0 
    # methods 
    def greet(self): 
        print("Hi, my name is " + self.name)

# create instance
p1 = Person()
# assign attributes 
p1.name = 'Alex'
p1.gender = 'M'
p1.age = 20
# call methods 
p1.greet()

import copy
p2 = copy.deepcopy(p1)
p2.name = 'Bob'
p2.greet()

# child class 
class Student(Person):
    # attributes
    grade = ''
    # methods 
    def score(self, s): 
        if s > 80: 
            self.grade = 'A'
        elif s > 70:
            self.grade = 'B'
        elif s > 60:
            self.grade = 'C'
        else:
            self.grade = 'D'
    def greet(self):
        Person.greet(self)
        print("my grade is " + self.grade)

# create instance
s1 = Student()
# assign attributes 
s1.name = 'Alex'
s1.gender = 'M'
s1.age = 20
# call methods 
s1.score(100)
s1.greet()

# Polymorphism 
class Teacher(Person):
    def greet(self):
        Person.greet(self)
        print("I am teaching class MTH")

def greet(p):
    p.greet()

t1 = Teacher()
t1.name = 'Alan'
greet(t1)
s2 = copy.deepcopy(s1)
s2.name = 'Bob'
greet(s2)

# Big-O

In [ ]:
# O(1)
n = 10
print("Hi, the number is ", n)
n = n * 10
print("Hi, the number is 10 times bigger now", n)

In [ ]:
# O(n)
n = 10
for i in range(n):
    print("index is ", i)

In [ ]:
# O(n^2)
n = 10
for i in range(n):
    for j in range(i,n):
        print("index is ", i, j)

In [2]:
# O(logN)
# example1
n = 100
i = 1
j = 0
while (i < n): 
    i = i * 2
    j = j + 1
print("final: ", i)
print("count: ", j)

# example2
n = 100
i = 1
j = 0
while (i < n): 
    i = i * 10
    j = j + 1
print("final: ", i)
print("count: ", j)

final:  128
count:  7
final:  100
count:  2

In [ ]:
# O(?): O(T*depth) 
# F(n) = F(n-1) + F(n-2)
def fib(n): 
    if (n < 2):
        return n
    x = fib(n-1) + fib(n-2)
    return x

print("fib(10): ", fib(10))

# Complexity Analysis 
- best case 
- worst case 
- average case 
- amortized

In [6]:
def find(l, x):
    for i in l: 
        if i == x: 
            return True
    return False 

ints = list(range(100))

print("best case  -   0 in list: ", find(ints, 0))
print("worst case -  99 in list: ", find(ints, 99))
print("avg case   -  50 in list: ", find(ints, 50))
print("avg case   - 100 in list: ", find(ints, 100))

best case  -   0 in list:  True
worst case -  99 in list:  True
avg case   -  50 in list:  True
avg case   - 100 in list:  False

# Linear Search

In [1]:
# O(n)
def linear_search1(data_list, target):
    size = len(data_list)
    for idx in range(size): 
        if (target == data_list[idx]):
            return idx 
    return -1 

# O(n)
def linear_search2(data_list, target):
    for idx, val in enumerate(data_list): 
        if (target == val):
            return idx; 
    return -1 

data_list = [1, 2, 3, 4, 15, 16, 77]
target = 15 
print("solution1 %d in the list: %d" % (target, linear_search1(data_list, target)))
print("solution2 %d in the list: %d" % (target, linear_search2(data_list, target)))
target = 77 
print("solution1 %d in the list: %d" % (target, linear_search1(data_list, target)))
print("solution2 %d in the list: %d" % (target, linear_search2(data_list, target)))
target = 11
print("solution1 %d in the list: %d" % (target, linear_search1(data_list, target)))
print("solution2 %d in the list: %d" % (target, linear_search2(data_list, target)))

solution1 15 in the list: 4
solution2 15 in the list: 4
solution1 77 in the list: 6
solution2 77 in the list: 6
solution1 11 in the list: -1
solution2 11 in the list: -1

# Binary Search

In [2]:
# Recursion: O(logN) 
def binary_search1(search_list, target):
    return binary_search1_imp(search_list, 0, len(search_list)-1, target)

def binary_search1_imp(search_list, l, r, target):
    if (l > r):
        return - 1
    m = l + (r - l) // 2
    if (search_list[m] == target):
            # target is found
            return m
    elif (search_list[m] < target):
        # move left pointer
        return binary_search1_imp(search_list, m+1, r, target)
    else:
        # move right pointer
        return binary_search1_imp(search_list, l, m-1, target)    

# non Recursion: O(logN)
def binary_search2(data_list, target):
    l, r = 0, len(data_list)-1
    while l <= r: 
        m = int((l + r)/2)
        if (data_list[m] == target):
            # target is found
            return m 
        elif (data_list[m] < target):
            # move left pointer 
            l = m + 1 
        else:
            # move right pointer 
            r = m - 1
    return -1

def test(search_list, target):
    print("solution1 %d in the list%s: %d" % (target, search_list, binary_search1(search_list, target)))
    print("solution2 %d in the list%s: %d" % (target, search_list, binary_search2(search_list, target)))

s = [1, 2, 3, 44, 55, 66]
t = 3 
test(s, t)
t = 44 
test(s, t)
t = 66
test(s, t)
t = 11 
test(s, t)

s = [1]
t = 1
test(s, t)
t = 2
test(s, t)

solution1 3 in the list[1, 2, 3, 44, 55, 66]: 2
solution2 3 in the list[1, 2, 3, 44, 55, 66]: 2
solution1 44 in the list[1, 2, 3, 44, 55, 66]: 3
solution2 44 in the list[1, 2, 3, 44, 55, 66]: 3
solution1 66 in the list[1, 2, 3, 44, 55, 66]: 5
solution2 66 in the list[1, 2, 3, 44, 55, 66]: 5
solution1 11 in the list[1, 2, 3, 44, 55, 66]: -1
solution2 11 in the list[1, 2, 3, 44, 55, 66]: -1
solution1 1 in the list[1]: 0
solution2 1 in the list[1]: 0
solution1 2 in the list[1]: -1
solution2 2 in the list[1]: -1